body{
    background-color: #27293d;
}

#logo {
    padding-left: 20px;
    text-align: center;

}
.menu {
    background-color: #1e2033;
    margin-left: -10px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.b1 {
    font-family: 'Roboto Mono', monospace;
    color: azure;
    margin-top: 100px;
    font-size: 32px;
    text-align: center;
    border: 1px solid rgb(43, 43, 214);
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgba(104, 104, 243, 0.205);
    margin-bottom: 50px;

}
.b1:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border: 1px solid rgb(63, 2, 87);
    background-color: rgba(102, 51, 153, 0.315);
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.b2 {
    font-family: 'Roboto Mono', monospace;
    color: azure;
    margin-top: 100px;
    font-size: 32px;
    text-align: center;
    border: 1px solid rgb(43, 43, 214);
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgba(104, 104, 243, 0.205);
    margin-bottom: 50px;
}

.b2:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border: 1px solid rgb(63, 2, 87);
    background-color: rgba(102, 51, 153, 0.315);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.b3 {
    font-family: 'Roboto Mono', monospace;
    color: azure;
    margin-top: 100px;
    font-size: 32px;
    text-align: center;
    border: 1px solid rgb(43, 43, 214);
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(104, 104, 243, 0.205);
    margin-bottom: 50px;
    
}

.b3:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border: 1px solid rgb(63, 2, 87);
    background-color: rgba(102, 51, 153, 0.315);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .b4 {
        font-family: 'Roboto Mono', monospace;
        color: azure;   
        text-align: center;
        margin-bottom: 0px;
        font-size: 26px;
    }

.b4:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#logo {
    padding-left: 20px;
    text-align: center;

}
#logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.carrossel { 
    text-align: center;
    border: 4px solid purple;
    margin-left: 180px;
    margin-right: 180px;
}
footer{
    margin-bottom: -20px;
    padding-right: -20px;
    border-right: -20px;
    
}
.footer {
    background-color: #191b2a;
    color: seashell;
    text-align: center;
    margin: 0px 0px 0px 0px;
    
}
.left{
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: azure;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    color: azure;
    text-align: center;
    font-size: 48px;
    font-style: italic;
}
.sub {
    font-family: 'Roboto Mono', monospace;
    color: azure;
    text-align: center;
    font-size: 26px;
    font-style: italic;   
}

.d-block{
    width: 1700px;
    height: 600px;
    text-align: center;
    align-items: center;
    margin-left: 100px;

}
img{
    text-align: center;
}
.carousel-inner {
    text-align: center;
}
footer {
    background-color: rgba(21, 21, 54, 0.356);
}
.container {
    text-align: center;
    color: azure;
    font-family: 'Arvo', serif;
}

.footer-copyright{
    color: azure;
   ;
}
page-footer font-small unique-color-dark pt-4{
    background-color: rgba(21, 21, 54, 0.356);
}
#rodape {
    margin-bottom: 0px;
}

.boxabout {
    border: 4px solid #0e123d52;
    background-color: #0e123d52;
    border-radius: 5px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 50px;
}